doctype
html(lang='jp')
    head
        meta(charset='utf-8')
        title
    body#root
        .w-main
            include header
            block content
            include footer
    style= inlineCss
